<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1 style="color: blue">Audiobook Maker v0.1</h1>
  <p>Enter name of audiobook to search for -</p>
</body>

{% block content %}
<form action="#" method = "POST">
    <p>Search: <input type = "text" name = "search_form" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
{% endblock %}

</html>