<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ekho</title>
</head>

<body>
  <h1 style="color: blue">Ekho v{{ version_num_f }}</h1>
  <p>Enter name of audiobook to search for -</p>
</body>

{% block content %}
<form action="#" method = "POST">
    <label> Select Format: </label>  
    <select name = "format_form">  
    <option value = "m4a"> m4a   
    </option>   
    <option value = "mp4"> mp4  
    </option>  
    </select>
    <p>Search: <input type = "text" name = "search_form" /></p>
    <p><input type = "submit" value = "Submit" /></p>
    <p>Please be patient, I'm slow</p>
</form>
{% endblock %}

</html>